<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Stadia Downloader</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div class="main-content">
    <div id="main-form">
        <div class="group">
            <input type="text" id="link" name="lnk" required>
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Clip URL</label>
        </div>
        <button class="btn" id="button">Find</button>
    </div>

    <form id="secondary-form">
        <div class="quality-item" id="720p">
            <input type="radio" name="quality" value="720">
            <label for="female">720p</label>
        </div>

        <div class="quality-item" id="1080p">
            <input type="radio" name="quality" value="1080">
            <label for="other">1080p</label>
        </div>

        <div class="quality-item" id="1440p">
            <input type="radio" name="quality" value="1440">
            <label for="other">1440p</label>
        </div>

        <div class="quality-item" id="2160p">
            <input type="radio" name="quality" value="2160">
            <label for="other">2160p</label>
        </div>
    </form>

    <button class="btn" id="downloadButton">
        Download
    </button>
    </div>
    <div class="main-footer">
        <div id="app-version"></div>
    </div>    
</body>

<script src="main.js"></script>
</html>